<div layout="row" flex layout-fil>
    <div flex layout="column">
        <md-toolbar layout="row" layout-align="center center" class="md-primary" style="background: url(/imgs/back.jpg) center center no-repeat">

            <div flex-lg="80" flex-gt-lg="60">
                <div flex layout-align="center center" layout-sm="column" layout-md="row" layout-gt-md="row">
                    <div layout-padding>
                        <img class="md-avatar md-whiteframe-8dp" src="/imgs/me.jpg" style="height: 6em; width: 6em; border-radius: 100%;">
                    </div>
                    <div layout-padding layout="column" flex="33">
                        <span class="md-display-2">
                            Victor Huerta
                            <small class="md-headline" style="display: block;">
                                Full Stack developer
                            </small>
                        </span>
                        <md-divider></md-divider>
                        <p class="md-body-1" hide show-gt-md>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id lorem arcu. Proin rhoncus elit dui, non vestibulum massa ornare nec.
                            Praesent eget hendrerit ante, a bibendum orci. Nulla at velit elementum, tincidunt elit ut, sollicitudin diam.
                        </p>
                    </div>
                    <div layout-padding layout="column" hide show-gt-md>
                        <md-list ng-cloak>
                            <md-list-item ng-click="">
                                <md-icon class="md-avatar-icon">phone</md-icon>
                                <p class="md-subhead">+52 5550681600</p>
                            </md-list-item>
                            <md-list-item>
                                <md-icon class="md-avatar-icon">mail</md-icon>
                                <p class="md-subhead">vhuertahnz@gmail.com</p>
                            </md-list-item>
                            <md-list-item>
                                <md-icon class="md-avatar-icon">home</md-icon>
                                <p class="md-subhead">León GTO. México</p>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>

        </md-toolbar>
    </div>
</div>