$color-base: #282C34;
$color-contrast: #fff;
$color-dark: #000;
$color-code-1: #0099FF;
$color-code-2: #33CC33;
$color-code-3: #00CC66;
$color-code-4: #00DEF9;
$color-code-5: #FF9933;
$color-code-6: #7b8aa5;